:root {
  --negro: #f5eaea;
  --gris-oscuro: #1c1c1c;
  --verde: #2e7d32;
  --azul-profundo: rgb(2, 2, 147);
  --azul-cielo: rgb(118, 202, 255);
  --blanco: white;
  --blanco-piel: rgb(209, 219, 158);
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('../media/contador-login-fondo.png') center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;

}

.formulario_container {
  width: 100%;
  max-width: 500px;
  background-color: var(--azul-cielo);
  border-radius: 25px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.formulario_container h2 {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
}

form p {
  margin: 0;
  color: var(--gris-oscuro);
}
form span{
    padding-top: 20px;
}
form label {
  font-size: 1.1rem;
  margin-bottom: 0.4rem;
}

form input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  font-size: 1.1rem;
  border-radius: 2rem;
  background-color: var(--azul-profundo);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #00006e;
}

.container-login {
  text-align: center;
  color: var(--negro);
}

/* Responsivo */
@media (max-width: 480px) {
  .formulario_container {
    padding: 15px;
  }

  form label {
    font-size: 1rem;
  }

  form input,
  form button {
    font-size: 1rem;
  }
}
.container-login{
    margin: auto;
    margin-top: 10px;
}
.container-login a{
    margin-top: 5px;
    text-decoration: none;
    color: #535353;
}
.container-login a:hover{
text-decoration: underline solid;
color: #00006e;
}