<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pepe.css">
    <title>Boton de guia</title>
</head>
<body>
    <header>
        <nav class="navegacion">
            <ul class="menu">
                <li><a href="#">Inicio</a>
                    <ul class="submenu">
                        <li><a href="#">Sub 1</a></li>
                        <li><a href="#">Sub 2</a></li>
                        <li><a href="#">Sub 3</a></li>
                        <li><a href="#">Sub 4</a></li>
                        <li><a href="#">Sub 5</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        
    </header>
</body>
</html>
