
{% extends "base.html" %}
{% load static %}

{% block title %}OpenContability - CargarClientes{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'styles/cargar_clientes.css' %}">
<link rel="shortcut icon" href="{% static 'media/oc_logo.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<h1>Cargar Clientes</h1>
<div class="container-formulario_cargarclientes">
    <form action="{% url 'cargar_clientes' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="container-formulario_cargarclientes-button">Cargar</button>
    </form>
</div>
{% endblock %}
</body>
</html>