{% extends "base.html" %}
{% load static %}

{% block title %}OpenContability - Cargar Facturas{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{% static 'styles/cargar_facturas.css' %}">
<link rel="stylesheet" href="{% static 'styles/menu.css' %}">
<link rel="shortcut icon" href="{% static 'media/oc_logo.ico' %}" type="image/x-icon">
{% endblock %}

{% block content %}
<div class="cargar_facturas">
    <h1>Cargar Facturas</h1>
    <form class="container-cargar_facturas" action="{% url 'cargar_facturas' %}" method="post">
        {% csrf_token %}

        <div class="container-formulario_cargarclientes">
            {{ form.as_p }}
            <div class="centrar_boton">
                <button class="container-formulario_cargarclientes-button" type="submit">Cargar</button>
                <a href="{% url 'ocr' %}" class="btn btn-secondary">OCR</button></a>
            </div>
        </div>
    </form>
</div>

<!-- Toast de notificaciones -->
<div class="contenedor-toast" id="contenedor-toast">
    {% if messages %}
        {% for message in messages %}
            <div class="toast autoCierre {{ message.tags }}">
                <div class="contenido">
                    <div class="icono campana-animada" aria-hidden="true">🔔</div>
                    <div>
                        <p class="titulo">{{ message }}</p>
                    </div>
                </div>
                <button class="btn-cerrar" onclick="cerrarToast(this)" aria-label="Cerrar notificación">
                    <span class="icono">✖</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'javascript/notificaciones.js' %}" defer></script>
{% endblock %}
