{% extends "base.html" %}
{% load static %}

{% block title %}OpenContability - Modificar Facturas{% endblock %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'styles/modificar_facturas.css' %}">

    <link rel="stylesheet" href="{% static 'styles/menu.css' %}">

    <link rel="shortcut icon" href="{% static 'media/oc_logo.ico' %}" type="image/x-icon">
    <script src="{% static 'javascript/modificar_clientes.js' %}" defer></script>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="cargar_facturas">
    <h1>Modificar Facturas</h1>
    <form class="container-modificar_facturas" action="{% url 'modificar_facturas' factura.NFactura %}" method="post">
        {% csrf_token %}

        <div class="container-formulario_cargarclientes">
            {{ form.as_p }}
            <div class="centrar_boton">
                <button class="container-formulario_cargarclientes-button" type="submit">Modificar</button>
                <a href="{% url 'tabla_facturas' %}" class="btn btn-secondary">Volver</button></a>
            </div>
        </div>
    </form>
</div>

<!-- Toast de notificaciones -->
<div class="contenedor-toast" id="contenedor-toast">
    {% if messages %}
        {% for message in messages %}
            <div class="toast autoCierre {{ message.tags }}">
                <div class="contenido">
                    <div class="icono campana-animada" aria-hidden="true">🔔</div>
                    <div>
                        <p class="titulo">{{ message }}</p>
                    </div>
                </div>
                <button class="btn-cerrar" onclick="cerrarToast(this)" aria-label="Cerrar notificación">
                    <span class="icono">✖</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'javascript/notificaciones.js' %}" defer></script>
{% endblock %}