{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles/registro.css' %}">
  <link rel="icon" href="{% static 'media/oc_logo2.ico' %}" type="image/x-icon" />
  <title>Registro - OC Contaduría</title>
</head>
<body>
  <section class="formulario_container">
    <h2>Crear cuenta</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Registrarse</button>
    </form>
    <div class="container-login">
      <a href="{% url 'login' %}">Ya tengo cuenta</a>
    </div>
  </section>
</body>
</html>