{% extends 'base.html' %}
{% load custom_tags %}
{% block title %}OpenContability - Tabla Facturas{% endblock %}
{% load static %}

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'styles/tablas_facturas.css' %}">
    <link rel="shortcut icon" href="{% static 'media/oc_logo.ico' %}" type="image/x-icon">
{% endblock %}
{% block content %}

    <h1>Tabla Facturas</h1>

    {% if facturas %}

        <table class="clase_tabla" border="1">
            <thead>
                {% for columna in columnas %}
                    <th>{{ columna }}</th>
                {% endfor %}
            </thead>
            <tbody>
                {% for factura in facturas %}
                <tr>
                    {% for columna in columnas%}    
                            <td>{{ factura|get_attr:columna }}</td>
                    {% endfor%}
                    <td><a href="{% url 'modificar_facturas' factura.NFactura %}">Modificar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="anchor" href="tabla_facturas">Atras</a>
    {% else %}
    <h2>Elija que campos quiere ver.</h2>
    <div class="form_container">
    <form id="formulario_container" action="tabla_facturas" method="post">
    {% csrf_token %}
    <div class="checkbox-grid">
    <label><input type="checkbox" name="filtro_campos" value="NFactura" checked> Numero de Factura</label>
    <label><input type="checkbox" name="filtro_campos" value="Compra_o_Venta" checked> Compra o Venta</label>
    <label><input type="checkbox" name="filtro_campos" value="Comprobante" checked> Comprobante</label>
    <label><input type="checkbox" name="filtro_campos" value="Procesamiento" checked> Procesamiento</label>
    <label><input type="checkbox" name="filtro_campos" value="TComprobante"> Tipo de Comprobante</label>
    <label><input type="checkbox" name="filtro_campos" value="NComprobante"> Numero de Comprobante</label>
    <label><input type="checkbox" name="filtro_campos" value="Movimiento"> Movimiento</label>
    <label><input type="checkbox" name="filtro_campos" value="TImputacion"> Tipo de Imputacion</label>
    <label><input type="checkbox" name="filtro_campos" value="CUIT" checked> CUIT</label>
    <label><input type="checkbox" name="filtro_campos" value="Cliente" checked> Cliente</label>
    <label><input type="checkbox" name="filtro_campos" value="Comerciante" checked> Comerciante</label>
    <label><input type="checkbox" name="filtro_campos" value="Importe" checked> Importe</label>
    <label><input type="checkbox" name="filtro_campos" value="Neto10y5"> Neto10y5</label>
    <label><input type="checkbox" name="filtro_campos" value="IVA10y5"> IVA10y5</label>
    <label><input type="checkbox" name="filtro_campos" value="Neto21"> Neto21</label>
    <label><input type="checkbox" name="filtro_campos" value="IVA21"> IVA21</label>
    <label><input type="checkbox" name="filtro_campos" value="Neto27"> Neto27</label>
    <label><input type="checkbox" name="filtro_campos" value="IVA27"> IVA27</label>
    <label><input type="checkbox" name="filtro_campos" value="ConceptoNoAgrabado"> Concepto No Agrabado</label>
    <label><input type="checkbox" name="filtro_campos" value="PercepcionIVA"> Percepcion IVA</label>
    <label><input type="checkbox" name="filtro_campos" value="PercepcionDGR"> Percepcion DGR</label>
    <label><input type="checkbox" name="filtro_campos" value="PercepcionMunicipalidad"> Percepcion Municipalidad</label>
    <label><input type="checkbox" name="filtro_campos" value="Otros"> Otros</label>
    <label><input type="checkbox" name="filtro_campos" value="Total" checked> Total</label>
</div>

    <br>
    <div class="estilo_boton-container">
        <button type="submit">Mostrar Tabla</button>
    </div>    
</form>

    {% endif %}
{% endblock  %}