{% extends 'base.html' %}

{% block content %}
    <h1>Tabla Clientes</h1>
{% if clientes.query %}
    <table class="clase_tabla" border="1">
        <thead>
            <td>#</td>
            <td>Nombre</td>
            <td>CUIT</td>
            <td>IVA</td>
            <td></td>
        </thead>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.IDCliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.CUIT }}</td>
            <td>{{ cliente.IVA }}</td>
            <td><a class="anchor" href="{% url 'modificar_clientes' cliente.IDCliente %}">Modificar</a></td>
        </tr>
        {% empty %}
        <tr>
            <td>No</td>
            <td>Hay</td>
            <td>registros</td>
            <td>cargados.</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}

    <a class="anchor" href="{% url 'clientes' %}">Volver</a>
{% endblock  %}