{% extends "base.html" %}
{% load static %}

{% block title %}OpenContability - CargarClientes{% endblock %}
<title>OpenContability - Tabla Clientes</title>

{% block head_extra %}
    <link rel="stylesheet" href="{% static 'styles/tabla_clientes.css' %}">
    <link rel="shortcut icon" href="{% static 'media/oc_logo.ico' %}" type="image/x-icon">
{% endblock %}

<body>
{% block content %}
    <h1>Tabla Clientes</h1>

    {% if clientes.query %}
    <table class="clase_tabla" border="4">
        <thead>
            <tr>
                <td>#</td>
                <td>Nombre</td>
                <td>CUIT</td>
                <td>IVA</td>
            </tr>
        </thead>
        <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.IDCliente }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.CUIT }}</td>
            <td>{{ cliente.IVA }}</td>
            <td><a href="{% url 'modificar_clientes' cliente.IDCliente %}">Modificar</a></td>
        </tr>
        {% empty %}
        <tr>
            <td>No</td>
            <td>Hay</td>
            <td>registros</td>
            <td>cargados.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %} 

{% endblock %}
</body>
</html>
